@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=IM+Fell+Great+Primer&family=Lora&family=Lovers+Quarrel&display=swap');
/*font-family: 'Cormorant Garamond', serif;
font-family: 'Lora', serif;
font-family: 'Lovers Quarrel', cursive;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*FORMATAÇÃO MENU*/
nav {
    background-color: #23CE6B;
    padding: 10px;
}

a {
    font: 1.2em 'Lora', serif;
    text-decoration: none;
    justify-content: space-around;
    color: #fff;

}

.menu:link,
.menu:visited {
    /*quando abro a pagina e visito e volto*/
    margin-right: 30px;
    color: #fff;
}

.menu:hover,
.menu:active {
    /*quando passo o mouse sobre e apertar*/
    color: #A49E8D
}

nav p{
    font-family: 'Lovers Quarrel', cursive;
    font-size: 2em;
    color: aliceblue;
}

/*FORMATAÇÃO SEÇÃO PRINCIPAL*/
section{
    padding-left: 10%;
    padding-right: 10%;
}
#principal{
    padding-bottom: 10px;
}
h1{
    text-align: center;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 4em;
}
img{
    height: 300px;
    margin-left: 30px;
   
}
p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    text-align: justify;
}
/*FORMATAÇÃO SEÇÃO O PROJETO*/
h2{
    font-family: 'IM Fell Great Primer', serif;
    margin-bottom: 5px;
    margin-top: 10px;
}

#projeto{
    background-color: #23CE6B;
    padding-bottom: 10px;
    padding-top: 10px;
}


/*FORMATAÇÃO SEÇÃO CONTATO*/
h3{
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 5px;
    margin-top: 10px;
}


form {
    background-color: #FFF;
    width: 450px;
    margin: 20px auto; /*margin auto faz ele ir pro meio pq ele nao pra onde ir*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #CCC;
}

input, select, textarea{
    width: 100%;
    padding: 8px;
    box-sizing: border-box; /*tamanho da caixa limitado a largura da caixa*/
    font: 1.1em 'Poppins', sans-serif;
    font-weight: 300;
    color: #757575;
    margin-bottom: 10px;
    border: 1px solid #CCC;
}

label, legend{
    font: 1.3em 'Poppins', sans-serif;
    font-weight: 300;
    color: #212121;
}


input[type="submit"], input[type="reset"]{
    border: none;
    background-color: #23CE6B;
    color: #FFF;
    border-radius: 10px;
    width: 45%;
}

input[type="reset"]{
    background-color: #F47E7E;
}